@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  main {
    @apply p-2 w-full h-full overflow-y-auto
  }

}

body {
  font-family: 'Sentient', serif;
}

nav {
  height: 100dvh;
}

.sidebar-background {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(10, 21, 22, 0.74);
}

::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background-color: #01211e;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

.custom-slider {
  height: 4px;
  background: #2e2d2d;
  opacity: 0.8;
  outline: none;
  transition: 0.3s;
}

.custom-slider:hover {
  opacity: 1;
  cursor: pointer;
}

.custom-slider[type="range"] {
  accent-color: #fff;
}